<h2 class="method-description">Angular</h2>
<%= link_to 'Create item', new_portfolio_path if logged_in?(:site_admin)  %>

<% @angular.each do |item| %>
  <p><%= item.title %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.main_image %>
  <%= image_tag item.thumb_image %>
<% end %>